@tailwind base;
@tailwind components;
@tailwind utilities;

.titlebar-button {
    display: inline-flex;
    align-items: center;
    width: 30px;
    height: 30px;
    user-select: none;
    -webkit-user-select: none;
}
