{% if sender == user %}

<div class="transform overflow-hidden rounded-lg shadow-xl transition-all w-full mb-2 select-text">
  <h3 class="bg-purple-600 py-1 px-2">
    <span class="font-semibold font-mono">{{ sender }}</span>
    <span class="text-sm">{{ send_time }}</span>
    <span class="text-sm">({{ latency }}s)</span>
  </h3>
  <div class="bg-stone-600 p-1.5 pt-1">{{ msg }}</div>
</div>

{% else if sender.is_empty() %}

<div class="w-full mb-2 select-text">[SERVER] {{ msg }}</div>

{% else %}

<div class="transform overflow-hidden rounded-lg shadow-xl transition-all w-full mb-2 select-text">
  <h3 class="bg-emerald-600 py-1 px-2">
    <span class="font-semibold font-mono">{{ sender }}</span>
    <span class="text-sm">{{ send_time }}</span>
    <span class="text-sm">({{ latency }}s)</span>
  </h3>
  <div class="bg-stone-600 p-1.5 pt-1">{{ msg }}</div>
</div>

{% endif %}
